* {
  box-sizing: border-box;
}
.csshardh1 {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid gray;
  width: 350px;
  height: fit-content;
overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px 0;
      background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

  /* flex-wrap: wrap;
    flex-grow: inherit; */
}

.csshardh1:hover {
  border: 1px solid black;
  transform: scale(1.05);
  
}

.div11 {
  display: flex;
  height: 150px;
}

.div111 img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.div111 {
  width: 40%;
  background-color: indigo;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.div112 {
  background-color: khaki;
  width: 60%;
  padding: 10px;
  padding-bottom: 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.div112 p {
  margin: 0px;
  height: 20%;
  width: 100%;
}
.div112 h1 {
  margin: 0px;
  height: 80%;
  width: 100%;
}

.button {
  border-radius: inherit;
  display: grid;
  height: 20%;
  
}

button[id="edt"] {
  color: white;
  float: left;
  width: 50%;
  height: 40px;
  background-color: seagreen;
}

button[id="dlt"] {
  color: white;
  float: right;
  width: 50%;
  height: 40px;
  background-color: rgb(180, 23, 23);
}

.h1style{
margin: 0px;
background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}

.h1style2{
margin: 0px;

}

.edtdatastyle2{
  border: 1px solid black;
  width:40%;
  text-align: center;
  margin: 0px 30%;
  border-radius: 10px;
  height: fit-content;
  padding:10px
}